<!DOCTYPE html>
<html lang="en">

<head>
    <title> OVOLab </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Libre Baskerville" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="icon" href="/asset/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/css/generic.css">
</head>

<body>
    <header>
    </header>
    <main>
    </main>
</body>

</html>